*{
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    color:aliceblue;
}
body{
    background-color: rgb(11, 19, 30);
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;
}
/* .grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% auto;
}
.grid-container1{
    display: grid;
    grid-template-columns: auto auto;
} */
.main input, .main button{
    border: none;
    background-color: rgb(32, 43, 59);
}
.search{
    color: aliceblue;
    width: 100%;
}
.main{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.search::placeholder{
    color:aliceblue;
}
.search:focus{
    background-color: rgb(32, 43, 59);
}
.header{
    display: flex;
    flex-direction: column;
}
.city{
    height: 200px;
}
.info{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}